In [39]:
import pandas as pd

In [40]:
dataframe = pd.read_csv("dados.csv", sep=",")
dataframe

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0      11     0     23    8              12    800  1.603808
1      11     1     23    2              12   1150  1.739790
2      11     1     35    8              15    880  1.760444
3      11     0     46    2               6   3500  1.783158
4      11     1     47    8               9    150  1.690631
...    ..   ...    ...  ...             ...    ...       ...
76835  53     1     46    2              11    812  1.687030
76836  53     0     30    4               7   1500  1.792934
76837  53     0     32    8              12   1300  1.830587
76838  53     0     57    8               4   1500  1.726344
76839  53     0     38    8               4    900  1.658305

[76840 rows x 7 columns]

Variaveis qualitativas ordinais

In [41]:
sorted(dataframe["Anos de Estudo"].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

Variaveis qualitativas nominais

In [42]:
sorted(dataframe["Cor"].unique())

[0, 2, 4, 6, 8]

Quantitativa discreta

In [43]:
dataframe.Idade.unique()

array([23, 35, 46, 47, 34, 57, 60, 50, 26, 49, 52, 38, 45, 43, 53, 62, 69,
       41, 25, 33, 44, 65, 32, 30, 64, 31, 63, 40, 28, 37, 39, 36, 73, 56,
       27, 42, 51, 29, 24, 55, 67, 66, 61, 54, 48, 80, 79, 71, 59, 19, 22,
       77, 58, 17, 72, 70, 18, 21, 20, 68, 74, 76, 75, 84, 85, 78, 15, 82,
       95, 13, 83, 81, 87, 88, 16, 91, 92, 97, 89, 90, 86, 94, 14, 99])

Quantitative continua

In [44]:
dataframe.Altura.min()

1.339244614

DISTRIBUICAO DE FREQUENCIA  (METODO 1)

In [45]:
frequencia_valores = dataframe["Sexo"].value_counts()

In [46]:
porcentagem_de_frequencia = dataframe['Sexo'].value_counts(normalize=True) * 100

In [47]:
dataframe_frequencia = pd.DataFrame({"Frequencia" : frequencia_valores, "Porcentagem" : porcentagem_de_frequencia})

In [48]:
dataframe_frequencia

   Frequencia  Porcentagem
0       53250    69.299844
1       23590    30.700156

In [49]:
dataframe_frequencia.rename(index = {0:"Masculinho", 1 : "Feminino"}, inplace = True)

In [50]:
dataframe_frequencia

            Frequencia  Porcentagem
Masculinho       53250    69.299844
Feminino         23590    30.700156

In [51]:
dataframe_frequencia.rename_axis("Sexo", axis=1, inplace=True)

In [52]:
dataframe_frequencia

Sexo        Frequencia  Porcentagem
Masculinho       53250    69.299844
Feminino         23590    30.700156

In [53]:
dados = pd.DataFrame({'ProfissÃ£o': [1, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 3]})
dados

    ProfissÃ£o
0           1
1           2
2           3
3           1
4           2
5           2
6           2
7           3
8           3
9           2
10          1
11          3

METODO 2 CROSSTAB

In [54]:
sexo = {0:"Masculino", 1: "Feminino"}

cor ={
    0 : "Indigena",
    2 : "Branca",
    4 : "Preta",
    6 : "Amarela",
    8 : "Parda",
    9 : "Sem declaraÃ§aÃµ",
}

In [55]:
frequencia_cross = pd.crosstab(dataframe['Sexo'], dataframe['Cor'])
frequencia_cross.rename(index=sexo, inplace=True)
frequencia_cross.rename(columns=cor, inplace=True)
frequencia_cross

Cor        Indigena  Branca  Preta  Amarela  Parda
Sexo
Masculino       256   22194   5502      235  25063
Feminino        101    9621   2889      117  10862

In [56]:
porcentagem_cross = pd.crosstab(dataframe['Sexo'], dataframe['Cor'], normalize=True) * 100
porcentagem_cross.rename(index=sexo, inplace=True)
porcentagem_cross.rename(columns=cor, inplace=True)
porcentagem_cross

Cor        Indigena     Branca     Preta   Amarela      Parda
Sexo
Masculino  0.333160  28.883394  7.160333  0.305830  32.617126
Feminino   0.131442  12.520822  3.759761  0.152264  14.135867

In [57]:
frequencia_mean_renda = pd.crosstab(dataframe['Sexo'], dataframe['Cor'], aggfunc='mean', values=dataframe["Renda"]) 
frequencia_mean_renda.rename(index=sexo, inplace=True)
frequencia_mean_renda.rename(columns=cor, inplace=True)
frequencia_mean_renda

Cor           Indigena       Branca        Preta      Amarela        Parda
Sexo
Masculino  1081.710938  2925.744435  1603.861687  4758.251064  1659.577425
Feminino   2464.386139  2109.866750  1134.596400  3027.341880  1176.758516

DISTRIBUICOES DE VARIAVEIS QUANTITATIVAS

In [58]:
classes = [0, 1576, 3152, 7880, 15760, 200000]
labels = ['E', 'D', 'C', 'B', 'A']

In [59]:
pd.cut(x = dataframe.Renda,
       bins = classes,
       labels = labels,
       include_lowest = True)

0        E
1        E
2        E
3        C
4        E
        ..
76835    E
76836    E
76837    E
76838    E
76839    E
Name: Renda, Length: 76840, dtype: category
Categories (5, object): ['E' < 'D' < 'C' < 'B' < 'A']

In [60]:
pd.value_counts(
    pd.cut(x = dataframe.Renda,
               bins = classes, #classes
               labels = labels,
               include_lowest = True #incluir os valors abaixo de 0
               )
)

E    49755
D    16700
C     7599
B     2178
A      608
Name: Renda, dtype: int64

In [61]:
frequencia = pd.value_counts(
    pd.cut(x = dataframe.Renda,
               bins = classes,
               labels = labels,
               include_lowest = True)
)

percentual = pd.value_counts(
    pd.cut(x = dataframe.Renda,
               bins = classes,
               labels = labels,
               include_lowest = True),
    normalize = True
)

In [62]:
dist_freq_quantitativas_personalizadas = pd.DataFrame(
    {'FrequÃªncia': frequencia, 'Porcentagem (%)': percentual}
)
dist_freq_quantitativas_personalizadas

   FrequÃªncia  Porcentagem (%)
E       49755         0.647514
D       16700         0.217335
C        7599         0.098894
B        2178         0.028345
A         608         0.007913

In [63]:
dist_freq_quantitativas_personalizadas.sort_index(ascending = False)

   FrequÃªncia  Porcentagem (%)
A         608         0.007913
B        2178         0.028345
C        7599         0.098894
D       16700         0.217335
E       49755         0.647514

In [64]:
classes = [dataframe.Altura.min(), 1.65, 1.75, dataframe.Altura.max()]
labels = ['1 - Baixa', '2 - MÃ©dia', '3 - Alta']

frequencia = pd.value_counts(
    pd.cut(
        x = dataframe.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    )
)

percentual = pd.value_counts(
    pd.cut(
        x = dataframe.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    ), normalize = True
) * 100

dist_freq_altura = pd.DataFrame(
    {'FrequÃªncia': frequencia, 'Porcentagem (%)': percentual}
)

dist_freq_altura.rename_axis('Estaturas', axis= 'columns', inplace = True)

dist_freq_altura.sort_index(ascending = True, inplace = True)

dist_freq_altura

Estaturas  FrequÃªncia  Porcentagem (%)
1 - Baixa       20529        26.716554
2 - MÃ©dia       36162        47.061426
3 - Alta        20149        26.222020

In [65]:
import numpy as np

In [66]:
n = dataframe.shape[0]
n

76840

In [67]:
k = 1 + (10 / 3) * np.log10(n)

In [68]:
pd.value_counts(
    pd.cut(
        dataframe.Renda,
        bins = int(k),
        include_lowest=True
    ),
   sort = False
)

(-200.001, 11764.706]       75594
(11764.706, 23529.412]       1022
(23529.412, 35294.118]        169
(35294.118, 47058.824]         19
(47058.824, 58823.529]         16
(58823.529, 70588.235]          5
(70588.235, 82352.941]          4
(82352.941, 94117.647]          1
(94117.647, 105882.353]         6
(105882.353, 117647.059]        0
(117647.059, 129411.765]        1
(129411.765, 141176.471]        0
(141176.471, 152941.176]        0
(152941.176, 164705.882]        0
(164705.882, 176470.588]        0
(176470.588, 188235.294]        0
(188235.294, 200000.0]          3
Name: Renda, dtype: int64

In [69]:
frequencia = pd.value_counts(
    pd.cut(
        x = dataframe.Renda,
        bins = 17,
        include_lowest = True
    ),
    sort = False
)

percentual = pd.value_counts(
    pd.cut(
        x = dataframe.Renda,
        bins = 17,
        include_lowest = True
    ),
    sort = False,
    normalize = True
)
percentual

AttributeError: 'DataFrame' object has no attribute 'Renda'

In [ ]:
dist_freq_quantitativas_amplitude_fixa = pd.DataFrame(
    {'FrequÃªncia': frequencia, 'Porcentagem (%)': percentual}
)
dist_freq_quantitativas_amplitude_fixa