In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("aluguel.csv", sep=";")

In [3]:

list(data["Tipo"].unique())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [4]:
imoveis_residenciasi = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']

In [6]:
selecao_feita = data["Tipo"].isin(imoveis_residenciasi) #Retorna true or false dependendo se o valor for compativel a lista
selecao_feita.head()

0     True
1     True
2    False
3     True
4     True
Name: Tipo, dtype: bool

In [8]:
dados_filtrados = data[selecao_feita]
dados_filtrados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [9]:
dados_filtrados.index = range(dados_filtrados.shape[0])

In [10]:
dados_filtrados.to_csv("arquivo_gerado.csv", sep=";", index=False) #Exporta arquivo csv

In [11]:
dados_arquivo_gerado = pd.read_csv("arquivo_gerado.csv")