In [34]:
import pandas as pd

##SERIES

In [35]:
serie =  [1,2,3,4,5,6]

In [36]:
series = pd.Series(serie)

In [37]:
series

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [38]:
indice = ["Linha" + str(i) for i in range(6)]

In [39]:
series = pd.Series(data =serie, index = indice)

In [40]:
series

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
Linha5    6
dtype: int64

DICIONARIO

In [41]:
dicionario = {"Linha" + str(i) : i for i in range(6)}

In [42]:
dicionario

{'Linha0': 0, 'Linha1': 1, 'Linha2': 2, 'Linha3': 3, 'Linha4': 4, 'Linha5': 5}

In [43]:
dic = pd.Series(dicionario)
dic

Linha0    0
Linha1    1
Linha2    2
Linha3    3
Linha4    4
Linha5    5
dtype: int64

In [44]:
S2 = series + dic

In [45]:
S2

Linha0     1
Linha1     3
Linha2     5
Linha3     7
Linha4     9
Linha5    11
dtype: int64

CONCATENANDO DATAFRAMES

In [46]:
lista1 = [[1,2,3], [4,5,6]]
lista2 = [[4,5,6], [7,8,9]]

#TUPLA
lista3 = [(10,11,12), (13,14,15)]

index = ["Linha" + str(i) for i in range(2)]

In [47]:
coluns = ["Colum" + str(i) for i in range(3)]

In [48]:
index

['Linha0', 'Linha1']

In [49]:
df1 = pd.DataFrame(data=lista1, index=index, columns=coluns)
df2 = pd.DataFrame(data=lista2, index=index, columns=coluns)
df3 = pd.DataFrame(data=lista3, index=index, columns=coluns)

In [50]:
df1

        Colum0  Colum1  Colum2
Linha0       1       2       3
Linha1       4       5       6

In [51]:
df2

        Colum0  Colum1  Colum2
Linha0       4       5       6
Linha1       7       8       9

In [52]:
df3

        Colum0  Colum1  Colum2
Linha0      10      11      12
Linha1      13      14      15

In [54]:
df4 = pd.concat([df1,df2, df3])

In [55]:
df4

        Colum0  Colum1  Colum2
Linha0       1       2       3
Linha1       4       5       6
Linha0       4       5       6
Linha1       7       8       9
Linha0      10      11      12
Linha1      13      14      15

In [56]:
df4 = pd.concat([df1,df2,df3], axis=1)

In [57]:
df4

        Colum0  Colum1  Colum2  Colum0  Colum1  Colum2  Colum0  Colum1  Colum2
Linha0       1       2       3       4       5       6      10      11      12
Linha1       4       5       6       7       8       9      13      14      15