In [1]:
import pandas as pd;

In [10]:
alunos =  {
    "Aluno" :["Paulo", "Ana", "Matheus", "Jorge", "Nastacia"],
    "Notas": [ 100,80,50, 100, 60],
    "Idade": [ 25,20,30, 45, 60]
    
}

In [11]:
df_alunos = pd.DataFrame(alunos)
df_alunos

      Aluno  Notas  Idade
0     Paulo    100     25
1       Ana     80     20
2   Matheus     50     30
3     Jorge    100     45
4  Nastacia     60     60

In [13]:
df_alunos.sort_values(by=df_alunos["Idade"],inplace=True)
iloc[:3]

KeyError: 0    25
1    20
2    30
3    45
4    60
Name: Idade, dtype: int64