In [1]:
import pandas as pd;

In [5]:
df_imoveis = pd.read_csv("arquivo_gerado.csv", sep=";");

In [6]:
df_imoveis.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [9]:
#Apenas apartamentos
selecao_apartamento = df_imoveis["Tipo"] == "Apartamento"
n_apartamentos =  df_imoveis[selecao_apartamento]

In [10]:
n_apartamentos.shape[0]

19532

In [14]:
n_residencias = (df_imoveis["Tipo"] == "Casa") | (df_imoveis["Tipo"] == "Casa de Condomínio") | (df_imoveis["Tipo"] == "Casa Vila") 
n_residencias_selecionadas = df_imoveis[n_residencias]

In [15]:
n_residencias_selecionadas.shape[0]

1963

In [17]:
selecao_imoveis_area =  (df_imoveis["Area"] >= 60) & (df_imoveis["Area"]<= 100) #E comericas
n_residencias_area = df_imoveis[selecao_imoveis_area]

In [18]:
n_residencias_area.shape[0]

8719